/* 775 by 363 */

body {
    background-color: #000000;
    font-family: 'Inconsolata',sans-serif;
    color: #fff;
    font-size: 8pt;
    margin: 0;
    overflow: hidden;
}

a {
    color: #00eeee;
}

h3 {
    font-size: 1.2em;
    margin: 0;
    padding: 5px 0;

}

#globe {
  background-color:#000000;
  top:50;
  margin: 0;
  padding: 0;
}

#info-box {
    position:absolute;
    /*bottom: 10px;
    right: 10px;*/
    top: 20px;
    left: 20px;
    visibility: hidden;
/*    background: rgba(0,0,0,.9);*/  
   font-size: 12pt;
    z-index:10;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em; 
}

#info-box-two{
    position:absolute;
    bottom: 50px;
    right: 10px;

    /*visibility: hidden;*/
/*  background: rgba(0,0,0,.9);
    font-size: 12pt;*/
    z-index:10;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    font-size:13px; 
    /*color:#00eeee;*/
    /*width:100;*/


}

.wf-active #info-box{
    visibility: visible;
}

#thumbprint {
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    opacity: 0;
    -webkit-animation: pulsate 5s;
    -webkit-animation-iteration-count: 10; 
    animation: pulsate 5s ease-out;
    animation-iteration-count: 10; 
}

@-webkit-keyframes pulsate { 
    0% {opacity: .3;}
    50% {opacity: 1.0;}
    100% {opacity: 0.3;}
}

@keyframes pulsate { 
    0% {opacity: 0.3;}
    50% {opacity: 1.0;}
    100% {opacity: 0.3;}
}

#canvas {
    margin: 0;
    padding: 0;
}

#control-panel {
    position: absolute;
    left: 700px;
    top: 60px;
    width: 300px;
}

#options {
    position: absolute;
    top: 0;
    left: -270px;
    bottom: 0;
    overflow: hidden;
    margin: 0;
    width: 350px;
/*    background-color: rgba(0,0,0,.9);
*/    border-right: 2px solid #6fc0ba;
    visibility: hidden;
}

#options-content {
    opacity: 0;
    padding-left: 30px;
}

.header{

    border-top: 1px solid #1d2c33;
    border-bottom: 1px solid #1d2c33;
    /* box-shadow: 0 0 6px #005b8e, inset 0 0 6px #005b8e; */
    color: #fff;
    padding: 2px 0;
    visibility: hidden;
    left: 25px;
    width: 300px;
    font-size: 6pt

}

.header-left-section {
    float: left;
    width: 70%;
    background-color: #2A363B;
    margin-left: -5px;
    padding: 0 8px;
}

.header-right-section {
    float: right;
    width: 20%;
    background-color: #000;
    text-align: right;
    margin-right: -5px;
    padding: 0 8px;
}

#header-bottom {
    position: absolute;
    bottom: 100px;
}


#header-top {
    position: absolute;
    top: 25px;
}

.header-animator{
    position: absolute;
    top: 300px;
    left: 25px;
    width: 300px;
    height: 2px;
    border-top: 1px solid #1d2c33;
    border-bottom: 1px solid #1d2c33;
    visibility: hidden;
}

.projection {
    border-radius: 3px;
    opacity: .5;
    cursor: crosshair;
}

#add-element {
   list-style: none; 
   margin: 0; 
   padding: 0; 
   display: inline-block; 
   width: 275px; 
   padding-top: 5px;
   border-bottom: 1px solid #1d2c33;
   padding-bottom: 5px;
   margin-bottom: 5px;

}

.button {
   text-align: center;
   border: 1px solid #1d2c33;
   border-radius: 3px;
   padding: 5px;
   cursor: pointer;
}

.button:hover {
    background-color: #111;
}

#add-element li {
   float: left; 
   width: 25%;
   margin: 5px;
} 

#add-element li:first-child {
   margin-left: 2px;
   
} 

#add-element .selected {
    background-color: #111;
}

label {
    /* clear: both; */
    /* float:left; */
    display: inline-block;
    width: 120px;
    margin-top: 12px;
}

#color-options {
   list-style: none; 
   margin: 0; 
   padding: 0; 
   display: inline-block; 
   width: 50%;
}

#color-options li{
   cursor: pointer;
   display: inline-block;
}

#pin-color {
    background-color: #00eeee;
}

#marker-color {
    background-color: #2A363B;
}

#satellite-color {
    background-color: #ff0000;
}

#apply-button {
    clear: both;
    width: 100px;
    margin-top:20px;
}


#banner {
    font-size:30pt;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
/*    background-color: rgba(0,0,0,.9);
*/    margin: 0px;
    line-height: .5em;
    padding-left: 10px;


}
#banner small {
    font-size: 12pt;
    white-space: nowrap;
    padding-left:3px;

}

@media (max-width: 800px) {
    #options, #thumbprint, .header {
        display: none;
    }
    #info-box {
        padding: 10px;

    }
}
@media (min-width: 800px) {
    #globe {
        margin-left: 200px;
    }
}

@media (max-width: 800px) {
    #thumbprint {
        bottom: 30px;
    }
    #header-bottom {
        bottom: 120px;

    }

}

@media (max-width: 1400px) {
    #thumbprint {
        bottom: 30px;
    }
    #header-bottom {
        bottom: 120px;
    }

}

@media (max-height: 700px) {
    #options, #thumbprint, .header {
        display: none;
    }
    #globe {
        margin-left: 0;

    }
}
